{% extends "header_footer.html" %}

{% if course %}
	{% block title %} Review {{ course }} Survey {% endblock %}

	{% block content %}

		<h2> Review {{ course }} survey </h2>
		<hr>

		{% if survey_questions %}
			<h3> Questions in Survey </h3>
			<ol>
				{% for question in survey_questions %}
					<li> {{ question.question_text }} </li>
	                    {% if question.type == "mc" %}
	                        <ul>
								{% if options %}
									{% for option in options %}
										<li> {{ option }} </li>
									{% endfor %}
								{% endif %}
	                        </ul>
	                    {% endif %}
				{% endfor %}
			</ol>
		{% endif %}

	<hr>

	<form name="review_survey" method="POST">
	    <h3> Question Pool </h3>
	    {% if question_pool %}
			<h4> Mandatory Questions </h4>
	        <ul>
	            {% for question in question_pool%}
					{% if not question.deleted %} <!-- only display questions are not "deleted" -->
						{% if question not in survey_questions %}
							{% if question.requirement == "Mandatory" %}
				                <li> {{ question.question_text }} </li>
				                    {% if question.type == "mc" %}
				                        <ul>
											{% if options %}
												{% for option in options %}
													<li> {{ option }} </li>
												{% endfor %}
											{% endif %}
				                        </ul>
				                    {% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
	            {% endfor %}
	        </ul>

			<h4> Optional Questions </h4>
	        <ul>
	            {% for question in question_pool%}
					{% if not question.deleted %} <!-- only display questions are not "deleted" -->
						{% if question not in survey_questions %}
							{% if question.requirement == "Optional" %}
				                <input name="questions_to_add" type="checkbox" value="{{ question.question_text }}" > {{ question.question_text }} <br>
				                    {% if question.type == "mc" %}
				                        <ul>
											{% if options %}
												{% for option in options %}
													<li> {{ option }} </li>
												{% endfor %}
											{% endif %}
				                        </ul>
				                    {% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
	            {% endfor %}
	        </ul>
		{% else %}
			No questions in the pool <br>
	    {% endif %}
		<input type="submit" value="Add question/s" class="btn btn-default"> <br>
	</form>
	<br>
	<a href="{{ url_for('index') }}" class="btn btn-default" role="button"> Back to dashboard </a>
	{% endblock %}
{% endif %}
